/node_modules
.DS_Store
/public/site
/public/images
/public/build
/public/hot
/public/mix-manifest.json
/public/service-worker.js
/public/service-worker.min.js
/public/workbox-window.js
/public/favicon*
/public/storage
/public/vendor
/public/feed.xml
/public/sitemap.xml
/storage/*.key
/vendor
.env
.env.backup
.env.production
soketi.json
.phpunit.result.cache
/.phpunit.cache
auth.json
npm-debug.log
.dockerignore
/.vscode

/caddy
frankenphp
frankenphp-worker.php
